*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;

}




body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
background-image: url("https://source.unsplash.com/1600x900/?landscape");

}

.caixa-maior {

background-color: black;
width: 95%;
max-width: 420px;
opacity: 0.8;
padding: 20px;
border-radius: 24px;
}

input {

    border:none;
    outline:none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: black;
    color:white;
    width: calc(100% - 100-px);
    
}

button {
border:none;
outline: none;
padding: 10px;
border-radius: 50px;
background-color:#7c7c7c2b;
float:right;
cursor: pointer;

}
button:hover{
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 20px;

}

.caixa-menor{

display: flex;
margin-top: 25px;
align-items: center;
}

.lupa {
height: 20px;

}
h2 {
color: white;
font-size: 28px;

}
.temp {
    color: white;
    margin-top: 25px;
    }

.descricao {
    color:white;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {

    color: white;
    margin-top: 25px;
    text-transform: capitalize;
}
